{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="{% static 'css/addproducts.css' %}">
    <style>
        body {
            background: url('{% static "images/7.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            font-family: Arial, sans-serif;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
<a href="{% url 'productslist' %}" class="back-link">BACK</a>
<form id="addProductForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Product Details Entry</h1><br>

    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="product_name" required>

    <label for="productDescription">Description:</label>
    <textarea id="productDescription" name="product_description" rows="4" required></textarea>

    <label for="productQuantity">Quantity:</label>
    <div class="quantity-container">
        <input type="text" id="productQuantity" name="product_quantity" class="quantity-input" required>
        <select id="quantityUnit" name="quantity_unit" class="unit-select" required>
            <option value="" disabled selected>Select Unit</option>
            <option value="litres">Litres</option>
            <option value="ml">Millilitres (ml)</option>
            <option value="kg">Kilograms (kg)</option>
            <option value="g">Grams (g)</option>
        </select>
    </div>

    <label for="productPhoto">Upload Photo:</label>
    <input type="file" name="product_images" required>

    <button type="submit">Add Product</button>
</form>
</body>
</html>
