{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products Page</title>
    <link rel="stylesheet" href="{% static 'css/custproductslist.css' %}">
    <style>
        body {
            background-size: cover;
            margin: 0;
        }
    </style>
</head>
<body>
<!-- Navigation Bar-->
<ul>
    <div class="header">
        <div class="nav-item">
            <li><b><a href="{% url 'custproductslist' %}">Products list</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'customerpage' %}">Your Orders</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'feedbackpage' %}">Feedback</a></b></li>
        </div>
        <div class="nav-item">
            <li>
                <b><a href="#">{{ username }}</a></b>
                <div class="dropdown-content">
                    <a href="{% url 'userprofile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </div>
    </div>
</ul>

<div class="products-container">
    {% for product in products %}
        <div class="product" onclick="window.location.href='{% url 'productdetails' product.product_id %}'" style="cursor: pointer;">
            {% for image in product.images.all %}
                <img src="{{ image.image.url }}" alt="{{ product.product_name }}">
            {% endfor %}
            <h3>{{ product.product_name }}</h3>
            <p>{{ product.product_description }}</p>
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>

</body>
</html>
