{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/customerpage.css' %}">
    <style>
        body {
            background: url('{% static "images/custpg.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
            margin-left: 250px; /* Adjusting body margin to make space for the fixed sidebar */
        }
    </style>
</head>
<body>

    <!-- Side Navigation (Always Visible)-->
    <div id="mySidenav" class="sidenav">
        <a href="#">Dairy Care System</a><br><br><br>
        <a href="{% url 'custproductslist' %}">Products List</a><br>
        <a href="{% url 'wishlist' %}">Your Wishlist</a><br>
        <a href="#">Your Orders</a><br>
        <a href="{% url 'feedbackpage' %}">Your Feedback</a><br>
    </div>

    <!-- Navigation Bar-->
    <ul>
        <div class="header">
            <!-- name -->
            <!-- <span class="name">Dairy Care System</span> -->
            <div class="nav-item">
                <li>
                    <b><a href="#">{{ username }}</a></b>
                    <div class="dropdown-content">
                        <a href="{% url 'userprofile' %}">Profile</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </div>
        </div>
    </ul>

    <center>
    <!-- <h1><b>Customer Dashboard</b></h1> -->

        <!-- Message and Quote -->
    <div class="message">
        <h1>Welcome, {{ username }}!</h1> <br><br> 
        We value your trust and aim to deliver the best shopping experience for you.
    </div><br><br>
    <div class="quote">
        A satisfied customer is the best business strategy of all.
    </div><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer>
        <p>&copy; 2024 Dairy Care System. All rights reserved.</p>
    </footer>

    </center>

</body>
</html>