{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products Page</title>
    <link rel="stylesheet" href="{% static 'css/editproduct.css' %}">
    <style>
        body {
            background: url('{% static "images/prolist.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>
<body>
<!-- Navigation Bar-->
<ul>
    <div class="header">
        <div class="nav-item">
            <li><b><a href="{% url 'addproducts' %}">Add Products</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'editproduct' %}">All Products List</a></b></li>
        </div>
        <div class="nav-item">
            <li>
                <b><a href="#">{{ username }}</a></b>
                <div class="dropdown-content">
                    <a href="{% url 'userprofile' %}">Profile</a>
                    <a href="{% url 'productslist' %}">Back</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </div>
    </div>
</ul>

<!-- Search Bar -->
<center>
    <div class="search-bar-container">
        <form method="GET" action="{% url 'editproduct' %}">
            <input type="text" name="search" class="search-bar" placeholder="Search for products..." value="{{ request.GET.search|default_if_none:'' }}">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</center>

<div class="products-container">
    {% for product in products %}
        <div class="product">
            {% for image in product.images.all %}
                <img src="{{ image.image.url }}" alt="{{ product.product_name }}">
            {% endfor %}
            <h3>{{ product.product_name }}</h3>
            <p>{{ product.product_description }}</p><br>
            <p><strong>Quantity:</strong> {{ product.product_quantity }} {{ product.quantity_unit }}</p>
            <p><strong>Price:</strong> Rs. {{ product.product_price }}</p>
            <p><strong>Status:</strong> {{ product.status|yesno:"Available,Not Available" }}</p>
            <p><strong>Added by:</strong> {{ product.employee.username }}</p>
            <p><strong>Added at:</strong> {{ product.added_at }}</p>
            <p><strong>Updated at:</strong> {{ product.updated_at }}</p><br><br>
            <div class="button-group" style="display: flex; justify-content: space-between;">
                <a href="{% url 'updateproduct' product.product_id %}" class="update-button">Update</a>
                
                {% if product.status %}
                    <a href="#" onclick="openModal('delete', '{% url 'deleteproduct' product.product_id %}', '{{ product.product_name }}');" class="delete-button"><b>Delete</b></a>
                {% else %}
                    <a href="#" onclick="openModal('restore', '{% url 'restoreproduct' product.product_id %}', '{{ product.product_name }}');" class="restore-button"><b>Restore</b></a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>

<!-- Modal Structure -->
<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">Dairy Care System</div>
        <div class="modal-body">
            <p id="modal-message" id="modal-message"></div>
        <div class="modal-footer">
            <button id="confirm-btn" class="btn-confirm">Confirm</button>
            <button onclick="closeModal()" class="btn-cancel">Cancel</button>
        </div>
    </div>
</div>

<script>
    // JavaScript functions for modal
    function openModal(actionType, url, productName) {
        var modal = document.getElementById("confirmationModal");
        var message = document.getElementById("modal-message");
        var confirmBtn = document.getElementById("confirm-btn");

        if (actionType === 'delete') {
            message.innerHTML = "Are you sure you want to delete the product <strong>" + productName + "</strong> and modify its status to <strong> Not Available </strong> ?";
        } else if (actionType === 'restore') {
            message.innerHTML = "Are you sure you want to restore the product <strong>" + productName + "</strong> and remodify its status to <strong>Available </strong> ?";
        }

        confirmBtn.onclick = function() {
            window.location.href = url;
        };

        modal.style.display = "block";
    }

    function closeModal() {
        var modal = document.getElementById("confirmationModal");
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        var modal = document.getElementById("confirmationModal");
        if (event.target == modal) {
            closeModal();
        }
    }
</script>

</body>
</html>


