{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Page</title>
    <link rel="stylesheet" href="{% static 'css/customerpage.css' %}">
    <style>
        body {
            background: url('{% static "images/emppg.png" %}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- <a href="{% url 'home' %}" class="home-link">
        <img src="{% static 'images/homeblack.jpg' %}" alt="Home">
    </a> -->

<!-- Navigation Bar-->
<ul>
    <div class="header">
        <!-- Greeting with username on the left
        <div class="nav-item left">
            <li><b>Hi, {{ username }}</b></li>
        </div>   -->
        <div class="nav-item">
            <li><b><a href="{% url 'productslist' %}">Products list</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'home' %}">Animals list</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'home' %}">Milk details</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'home' %}">Equipments details</a></b></li>
        </div>
        <div class="nav-item">
            <li>
                <b><a href="#">{{ username }}</a></b>
                <div class="dropdown-content">
                    <a href="{% url 'userprofile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </div>
    </div>
</ul>

<center>
    <!-- <h1><b>Employee Dashboard</b></h1> -->

    <div class="message"></div>
        <h1>Welcome, {{ username }}!</h1> <br><br> 
        You are the backbone of the system. Your dedication makes everything possible.
    </div><br><br>
    <div class="quote">
        The strength of the team is each individual member. The strength of each member is the team.
    </div><br><br><br><br><br><br><br><br><br><br>

<footer>
    <p>&copy; 2024 Dairy Care System. All rights reserved.</p>
</footer>

</center>
</body>
</html>