{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
    <style>
        body {
            background: url('{% static "images/forgotpass.jpg" %}') no-repeat center center fixed;
            background-size: cover;
            font-family: 'Koh Santepheap', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <a href="{% url 'home' %}" class="home-link">
    <img src="{% static 'images/homeblack.jpg' %}" alt="Home"></a>
    <div class="container">
        <div class="forgot-box">
            <h2><u>Forgot Password</u></h2>
            <form id="forgotPasswordForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <p>Enter your email address below to receive a link to reset your password.</p><br>
                    <label for="email">Enter recovery email id:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <div class="error-message" id="emailError"></div>
                </div>
                <button type="submit">Send Reset Password Link</button>
            </form><br>
            <p class="have-account">Remember Password ? <a href="{% url 'login' %}" class="back-link">Log in</a></p>
            <div class="success-message" id="successMessage"></div>
        </div>
    </div>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
