{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        body {
            background: url('{% static "images/home.png" %}') no-repeat center center fixed;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>
<body>
    <a href="{% url 'home' %}" class="home-link">
        <img src="{% static 'images/homeblack.jpg' %}" alt="Home">
    </a>

<!-- Navigation Bar -->
<ul>
    <div class="header">
        <div class="nav-item">
            <li><b><a href="{% url 'about' %}">About</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'registration' %}">Register</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'login' %}">Login</a></b></li>
        </div>
        <div class="nav-item">
            <li><b><a href="{% url 'contactus' %}">Contact Us</a></b></li>
        </div>
    </div>
</ul>

<center>
    <h1><b>Dairy Care System</b></h1>
    <h2><b>In every drop of milk, a promise of care; where technology and tradition blend, beyond compare.</b></h2>
</center><br>

<footer>
    <p>&copy; 2024 Dairy Care System. All rights reserved.</p>
</footer>

</body>
</html>
