/* General reset for ul elements */
ul {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 5px; /* You can adjust this as needed */
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); /* Light background for header */
    position: fixed; /* Fix the header to the top */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Align to the right of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
}

/* Specific styles for navigation items */
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); /* Light background for header */
}

.header li {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.header li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform to transition */
}

.header li a:hover {
    background-color: #ddd;
    border-radius: 5px;
    transform: scale(1.1); /* Scale up the item on hover */
}

/* Header style */
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    font-family: 'Arial', sans-serif;
}

/* Navigation item style */
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container style */
.container {
    max-width: 1300px;
    margin: 15px auto;
    padding: 25px;
    backdrop-filter: blur(30px); /* Blur effect */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Home link style */
/* .home-link {
    position: absolute;
    top: 15px;
    left: 20px;
    text-decoration: none;
}

.home-link img {
    width: 50px;
    height: 50px;
} */

/* Home Icon Style */
.home-icon {
    color: #000000; /* Color for the home icon */
    margin-left: 20px; /* Space from the left edge */
    margin-top: 10px; /* Space from the top of the header */
    float: left; /* Aligns the icon to the left */
    font-size: 30px; /* Increase the size of the icon (adjust as needed) */
}

/* Header (h1) style */
h1 {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Paragraph style */
p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Subheader (h2) style */
h2 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
    color: #8b771b;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}