ul {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 5px; /* You can adjust this as needed */
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); /* Light background for header */
    position: fixed; /* Fix the header to the top */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Align to the right of the viewport */
    z-index: 1000; /* Ensure it stays above other content */
}

li {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform to transition */
}

li a:hover {
    background-color: #ddd;
    border-radius: 5px;
    transform: scale(1.1); /* Scale up the item on hover */
}

.container {
    max-width: 600px;
    margin: 100px auto; /* Adjust this margin if needed for content spacing */
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Copperplate, Papyrus, fantasy;
}

p.description {
    text-align: center;
    font-size: 16px;
    color: rgb(131, 72, 27);
    margin-bottom: 30px;
}

.contact-info {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.contact-info div {
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    font-family: 'Arial', sans-serif;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home Icon Style */
.home-icon {
    color: #000000; /* Color for the home icon */
    margin-left: 20px; /* Space from the left edge */
    margin-top: 10px; /* Space from the top of the header */
    float: left; /* Aligns the icon to the left */
    font-size: 30px; /* Increase the size of the icon (adjust as needed) */
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}
