ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family: 'Arial', sans-serif;
}

.nav-item.left {
    color: white;
    padding: 5px 8px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin-right: 10px;
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

h1 {
    color: black;
    font-size: 80px;
    margin-top: 100px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 70px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.nav-item:hover .dropdown-content {
    display: block;
}

/* Products container styles */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust min width as needed */
    gap: 60px; /* Space between items */
    padding: 60px; /* Padding around the container */
}

.product {
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Prevents overflow of content */
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: flex-start; /* Align children at the start to allow dynamic height */
    padding: 15px;
    background-color: #fff; /* White background for products */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth hover effect */
}

.product:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.product img {
    width: 100%; /* Full width of the product container */
    height: 250px; /* Fixed height for uniformity */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    border-radius: 4px; /* Rounded corners for the image */
}

.product h3 {
    font-size: 1.2em; /* Adjust font size */
    margin: 10px 0; /* Margin for spacing */
    text-align: center; /* Centering the product name */
}

.product p {
    margin: 5px 0; /* Margin for spacing */
    font-size: 1.1em;
    color: #000000;
    text-align: center; /* Centering the product name */
}

.product-container-footer {
    margin-top: auto; /* Push the footer (like the added at date) to the bottom */
    color: #888;
    font-size: 0.85em;
}

.update-button, .delete-button, .restore-button {
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.update-button {
    background-color: #ffc107;
    color: white;
}

.update-button:hover {
    background-color: #e0a800;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}

.restore-button {
    background-color: #28a745;
    color: white;
}

.restore-button:hover {
    background-color: #218838;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.modal-content {
    background-color: white;
    margin: 15% auto; /* Centered vertically and horizontally */
    padding: 20px;
    border-radius: 10px;
    width: 30%; /* Modal width */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.modal-body {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.modal-footer button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-confirm {
    background-color: #28a745;
    color: white;
}

.btn-cancel {
    background-color: #dc3545;
    color: white;
}

.btn-confirm:hover {
    background-color: #218838;
}

.btn-cancel:hover {
    background-color: #c82333;
}

/* Style for search bar */
.search-bar-container {
    text-align: center;
    margin: 20px 0;
}

.search-bar {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #797f00;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #105314;
}

