.message {
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.quote {
    font-style: italic;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.quote::before {
    content: "“";
}

.quote::after {
    content: "”";
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}

