ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect to background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
}

li {
    float: right;
    margin-right: 20px; /* Increase this value for more space */
    font-size: 20px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform to transition */
}

li a:hover {
    background-color: #ddd;
    border-radius: 30px;
    transform: scale(1.1); /* Scale up the item on hover */
}


h1 {
    color: black;
    font-size: 80px;
    margin-top: 60px;
}

h2 {
    color: black;
    font-size: 35px;
    margin-top: 350px;
    font-family: Copperplate, Papyrus, fantasy;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    font-family: 'Arial', sans-serif;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home Icon Style */
.home-icon {
    color: #000000; /* Color for the home icon */
    margin-left: 20px; /* Space from the left edge */
    margin-top: 10px; /* Space from the top of the header */
    float: left; /* Aligns the icon to the left */
    font-size: 30px; /* Increase the size of the icon (adjust as needed) */
    transition: transform 0.3s ease, color 0.3s ease;
}

.home-icon:hover {
    transform: scale(1.1);
    
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}
