.container {
    display: flex;
    justify-content: flex-end; /* Aligns the login box to the right */
    align-items: center;
    height: 100vh;
    padding-right: 150px; /* Adjust as needed for spacing from the right edge */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px;
    text-align: center;
}

h2 {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 36px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 100px; /* Adjust width as needed */
    margin-right: 10px;
    font-size: 16px;
}

.form-group input[type="text"], 
.form-group input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: #eef2df;
}

.login-box button[type="submit"] {
    background-color: #c0a954;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    width: 100%;
}

.login-box button[type="submit"]:hover {
    background-color: #b49a4e;
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.google-signin img {
    width: 25px;
    margin-right: 10px;
}

.google-signin span {
    font-size: 16px;
}

.home-link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}

.home-link img {
    width: 50px;
    height: 50px;
}

.error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}